.item {
    width: 350px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    transition: transform 0.6s ease; /* Mover la propiedad de transición aquí para mayor claridad */
  }
  
  .item p {
    margin: 6px 0;
  }
  
  .item-prices {
    display: flex;
    gap: 20px;
    align-items: center; /* Alinea verticalmente los precios */
  }
  
  .item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
  }
  
  .item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
  }
  
  .item:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agregado un suave efecto de sombra al hacer hover */
    border-color: #ff4141; /* Cambia el borde al hacer hover */
  }
  